section.contacts {

  .picture {
    &:after {
      background: linear-gradient(90deg, rgba(46, 46, 46, 0.72) 0%, rgba(46, 46, 46, 0.29) 100%);
    }
  }

  form {
    margin-top: 34px;
  }

  .contacts-wrapper {
    @include respond($mobile) {
      margin-top: 50px;
      margin-bottom: 120px;
    }
    @include respond(0, $mobile) {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  .contacts-grid {
    border-top: 1px solid $gray-70;
    padding-top: 24px;
    display: grid;
    margin-top: 8px;
    grid-gap: 10px;

    @include respond($mobile) {
      grid-template-columns: 1.5fr 1fr 1fr 1fr;

      .contact-cell:not(:first-child) {
        text-align: center;
      }
    }

    a {
      color: $blue2;
    }
  }
}

#map {
  background: $light-gray;
  @include respond(0, $mobile) {
    min-height: 290px;
  }
  @include respond($mobile) {
    min-height: 486px;
  }
}