section.projects {
  .picture {
    &:after {
      background: linear-gradient(90deg, rgba(46, 46, 46, 0.72) 0%, rgba(46, 46, 46, 0.29) 100%);
    }
  }

}

.another-projects {
  @include respond($mobile) {
    margin: 80px 0 120px 0;
  }
  @include respond(0, $mobile) {
    margin: 30px 0 50px 0;
  }
}